@media (min-width: 477px) and (max-width: 480px) {
  .header-wrapper .header .name-title {
    -ms-flex-order: 2;
        order: 2;
    margin-top: 121px;
    padding-right: 70px; }
  .header-wrapper .header .hammy {
    -ms-flex-order: 3;
        order: 3; }
  .header-wrapper .header .face {
    padding-left: 0;
    margin: .01px; } }

@media (min-width: 481px) and (max-width: 536px) {
  .header-wrapper .header .name-title {
    -ms-flex-order: 2;
        order: 2;
    margin-top: 121px;
    padding-right: 74px; }
  .header-wrapper .header .hammy {
    -ms-flex-order: 3;
        order: 3; }
  .header-wrapper .header .face {
    padding-left: 0;
    margin: .01px; } }

@media only screen and (min-width: 537px) {
  .header-wrapper .header .name-title {
    -ms-flex-order: 2;
        order: 2;
    margin-top: 121px;
    padding-right: 90px; }
  .header-wrapper .header .hammy {
    -ms-flex-order: 3;
        order: 3; }
  .header-wrapper .header .face {
    padding-left: 0;
    margin: .01px; } }

@media (min-width: 477px) and (max-width: 611px) {
  .hammy #menu {
    display: none; }
  .hammy #menu-num p {
    visibility: hidden;
    display: none;
    color: white !important; } }

@media (min-width: 612px) {
  .header-wrapper .header .name-title {
    padding-right: 0;
    margin-top: 85px; }
  .face #tel-small {
    display: none !important; }
  .header-wrapper .header .hammy #menu {
    display: block;
    visibility: visible !important; }
  .header-wrapper .header .hammy #menu-num p {
    display: block; } }
