/*Colors*/
/*Font*/
/*Global Headers*/
h1 {
  font-size: 34px;
  font-family: "lato", sans-serif; }

h2 {
  font-size: 28px;
  font-family: "lato", sans-serif; }

h3 {
  font-size: 24px;
  font-family: "lato", sans-serif;
  font-weight: 100; }

h4 {
  font-size: 22px;
  font-family: "lato", sans-serif; }

h5 {
  font-size: 20px;
  font-family: "lato", sans-serif; }

h6 {
  font-size: 18px;
  font-family: "lato", sans-serif; }

p {
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 300; }

.container-fluid {
  padding: 0; }

/*Main styles - header*/
body {
  overflow-x: hidden; }

.container-fluid {
  overflow-x: hidden; }

.header-wrapper {
  background-color: #00617F; }
  .header-wrapper #big-wrap-head {
    max-width: 1300px;
    margin: 0 auto; }
  .header-wrapper .header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px; }
    .header-wrapper .header .face {
      /*order:1;*/
      margin: 0 auto; }
      .header-wrapper .header .face #tel-small {
        display: block;
        color: #fff; }
      .header-wrapper .header .face img {
        border-radius: 50%;
        max-width: 120px; }
      .header-wrapper .header .face ul {
        display: block;
        text-align: center;
        padding: 10px 0 0 0; }
        .header-wrapper .header .face ul li {
          list-style-type: none;
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px; }
          .header-wrapper .header .face ul li img {
            border-radius: 50%;
            color: red; }
        .header-wrapper .header .face ul li:first-child {
          padding: 0; }
        .header-wrapper .header .face ul li:last-child {
          padding: 0; }
    .header-wrapper .header .name-title {
      -ms-flex-order: 3;
          order: 3;
      text-align: center;
      padding-right: 5px;
      padding-left: 5px;
      margin: 0 auto; }
      .header-wrapper .header .name-title h1 {
        margin: 0;
        color: #FFF; }
      .header-wrapper .header .name-title h3 {
        margin: 10px 0 0 0;
        color: #FFF; }
    .header-wrapper .header .hammy {
      display: none;
      visibility: hidden !important;
      -ms-flex-order: 2;
          order: 2;
      font-size: 30px;
      padding: 0 5px 0 0; }
      .header-wrapper .header .hammy a {
        color: #FFF;
        text-decoration: none; }
      .header-wrapper .header .hammy #menu {
        margin-left: 50px; }
      .header-wrapper .header .hammy #menu-num p {
        visibility: hidden;
        display: none;
        padding-top: 5px;
        transition: all 1s ease;
        color: rgba(255, 255, 255, 0); }
      .header-wrapper .header .hammy #menu-num .transform-visibility {
        visibility: visible;
        color: white; }
      .header-wrapper .header .hammy #menu-num:hover {
        text-decoration: underline; }

.hide-menu {
  display: none !important; }

.show-sticky {
  display: block; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 200;
  color: #fff;
  transition: all 3s ease-in-out; }
  .sticky #big-wrap-sticky {
    max-width: 1300px;
    margin: 0 auto; }
  .sticky a {
    color: #fff;
    font-size: 30px;
    float: right;
    clear: right; }
  .sticky a:hover {
    text-decoration: none; }
  .sticky #menu-num:hover {
    text-decoration: underline; }
  .sticky .header h3 {
    margin: 0;
    text-align: center;
    margin-right: 25px;
    display: none; }
  .sticky .header .col-sm-4:first-child h3 {
    padding: 0;
    margin: 0 0 0 -30px;
    text-align: left;
    display: block; }

/*Main styles - summary*/
#summary-section {
  margin-bottom: 20px; }
  #summary-section #big-summary-wrap {
    max-width: 1300px;
    margin: 0 auto; }

.summary {
  color: #00617F; }
  .summary h2 {
    text-align: center; }
  .summary p {
    max-width: 768px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
    text-align: center; }

/*Main styles - carousel*/
#carousel-section {
  background-color: rgba(0, 193, 255, 0.23);
  color: #00617F; }
  #carousel-section #big-carousel-wrap {
    max-width: 1300px;
    margin: 0 auto; }
  #carousel-section img {
    background-color: #fff;
    height: 300px;
    width: 300px; }
  #carousel-section .hide-carousel {
    display: none; }
  #carousel-section .carousel {
    width: 100%;
    overflow: hidden; }
    #carousel-section .carousel h2 {
      text-align: center;
      margin-bottom: -60px; }
  #carousel-section .carousel-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    min-height: 500px;
    position: relative;
    top: 0;
    left: -450px;
    transform: translateY(25%); }
    #carousel-section .carousel-wrapper li:first-child {
      margin-left: 50px; }
    #carousel-section .carousel-wrapper > li {
      padding: 0 50px 0 50px;
      list-style-type: none; }
  #carousel-section .move-right {
    width: 0;
    height: 0;
    border-top: 43px solid transparent;
    border-bottom: 43px solid transparent;
    border-left: 43px solid #00617F;
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 1;
    padding-right: 15px; }
  #carousel-section .move-right:hover {
    border-left: 43px solid rgba(0, 97, 127, 0.45); }
  #carousel-section .move-left:hover {
    border-right: 43px solid rgba(0, 97, 127, 0.45); }
  #carousel-section .move-left {
    width: 0;
    height: 0;
    border-top: 43px solid transparent;
    border-bottom: 43px solid transparent;
    border-right: 43px solid #00617F;
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 1;
    padding-left: 15px; }
  #carousel-section .arrow-wrapper-left {
    position: absolute;
    z-index: 44;
    background-color: #C5F1FF;
    height: 100%;
    min-width: 50px;
    top: 0;
    left: 0; }
  #carousel-section .arrow-wrapper-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 44;
    background-color: #C5F1FF;
    height: 100%;
    min-width: 50px; }
  #carousel-section .not-carousel {
    text-align: center; }
    #carousel-section .not-carousel > div > div {
      margin: 0 0px 25px 0px; }
    #carousel-section .not-carousel h2 {
      text-align: center;
      margin-bottom: 25px; }

/*Main styles - skills*/
#skills {
  color: #00617F; }
  #skills h2 {
    margin-bottom: 20px;
    text-align: center; }

#skills-list {
  margin-bottom: 20px; }
  #skills-list .lists {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    color: #00617F; }
    #skills-list .lists ul {
      font-size: 16px;
      font-family: lato;
      font-weight: 300; }
    #skills-list .lists ul:first-child {
      margin-right: 15px; }
    #skills-list .lists ul:last-child {
      margin-left: 15px; }

/*Main styles - footer*/
#footer {
  background-color: #009BCC;
  padding: 0 20px 0 20px; }
  #footer #big-footer-wrap {
    margin: 0 auto;
    max-width: 1300px; }
  #footer .social {
    padding: 20px 0 20px 0; }
    #footer .social ul {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding: 0; }
      #footer .social ul img {
        border-radius: 50%;
        max-width: 64px; }
      #footer .social ul li:first-child img {
        background-color: rgba(0, 0, 255, 0);
        max-width: 76px;
        margin-top: -5.5px; }
      #footer .social ul li:last-child img {
        background-color: #fff; }

/*Modal Styles*/
.modal .modal-img-wrap {
  border-bottom: 1.5px solid;
  background-color: #fff;
  padding: 20px; }
  .modal .modal-img-wrap img {
    margin: 0 auto;
    border: 1.5px solid black; }

.modal .skill-description div:first-child {
  border-right: 1.5px black solid; }

.modal .modal-header {
  background-color: #00617F;
  color: #fff; }
  .modal .modal-header a {
    text-decoration: none;
    color: #fff; }
  .modal .modal-header #close {
    padding: 5px 15px 15px 15px; }
  .modal .modal-header .modal-parent {
    display: block; }
    .modal .modal-header .modal-parent span:first-child {
      display: inline-block; }
    .modal .modal-header .modal-parent span:last-child-child {
      display: inline-block;
      float: right; }

.modal .modal-footer {
  background-color: #00617F;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .modal .modal-footer button {
    background-color: #FFFFFF;
    color: #00617F;
    min-width: 100px;
    text-align: center; }
