@media (min-width: 477px) and (max-width: 480px) {
.header-wrapper {
		.header {
			.name-title {
				order:2;
				margin-top: 121px;
				padding-right: 70px;
			}
			.hammy {
				order:3;
			}
			.face {
				padding-left: 0;
				margin:.01px;
			}
		}
	}
}
@media (min-width: 481px) and (max-width: 536px) {
.header-wrapper {
		.header {
			.name-title {
				order:2;
				margin-top: 121px;
				padding-right: 74px;
			}
			.hammy {
				order:3;
			}
			.face {
				padding-left: 0;
				margin:.01px;
			}
		}
	}
}
@media only screen and (min-width: 537px) {
	.header-wrapper {
		.header {
			.name-title {
				order:2;
				margin-top: 121px;
				padding-right: 90px;
				
			}
			.hammy {
				order:3;
			}
			.face {
				padding-left: 0;
				margin:.01px;
			}
		}
	}
}
@media (min-width: 477px) and (max-width: 611px) {
	.hammy #menu {
		display: none;
	}
	.hammy #menu-num p {
		visibility: hidden;
		display: none;
		color:rgba(255,255,255,1) !important;

	}

}
@media (min-width: 612px) {
	.header-wrapper .header .name-title {
		padding-right: 0;
		margin-top: 85px;
	}
	.face {
		#tel-small {
			display: none !important;
		}
	}
	.header-wrapper .header .hammy #menu {
		display: block;
		visibility: visible !important;
	}
	.header-wrapper .header .hammy #menu-num p {
		display: block;
	}

}