@import "variables";	
	/*Global Headers*/
	h1 {
		font-size: 34px;
		font-family: $lato;
	}
	h2 {
		font-size: 28px;
		font-family: $lato;
	}
	h3 {
		font-size: 24px;
		font-family: $lato;
		font-weight: 100;
	}
	h4 {
		font-size: 22px;
		font-family: $lato;
	}
	h5 {
		font-size: 20px;
		font-family: $lato;
	}
	h6 {
		font-size: 18px;
		font-family: $lato;
	}
	p {
		font-size: 16px;
		font-family: $lato;
		font-weight: 300;
	}
/*make google maps api appear infront of Modal*/
.pac-container {
    z-index: 1051 !important;
}
#state-change {
	display:inline-block;
}
.hide {
	display:none;
}

/*container padding removal*/
#container {
	padding:0;
}
/*header styles*/
.header-wrapper {
	background-color: #E13700
}
#big-wrap-head {
	max-width: 1300px;
	margin: 0 auto;
    margin-bottom: 20px;
    color:#fff;
	.header {
		text-align: center;
	}
	.header:first-child {
		padding-top:44px;
	}
	.header:last-child {
		padding-bottom:20px;
	}
	#state-change {
		/*display: flex;*/
    	list-style-type: none;
    	font-size: 12px;
    	margin:0;
    	padding:0;
    	color:rgba(14, 13, 45, .5);

    	li:first-child {
			padding-right: 5px;
    	}
	}
}
/*Sign-Up and Create Event button styles*/
#CAT-section {
	text-align: center;
	button:first-child {
		margin-bottom:10px;
		background-color: #337CA0;
	}
	button:last-child {
		margin-bottom: 10px;
		background-color: #337CA0;
	}
}

/*Styles for the events section*/
#events-firebase {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: center;

}
.event-post{
	min-width: 280px;
	max-width: 330px;
    border: 1px solid grey;

    padding: 0px;
    margin: 0 5px 20px 5px;
    text-align: center;
    .title-host-wrap {
    	display: flex;
    	justify-content: space-between;
    	color: #fff;
    	background-color: #3ec300;
    	p {
    		padding:5px;
    	}
    	.event-host span {
    		font-weight: 400;
    	}
    }
    .type-location-wrap {
    	.event-location {
    		color: #337CA0;
    	}
    }
    .start-end-wrap {
    	display: flex;
    	justify-content: space-around;
    }
    .details-guests-wrap {
    	span {
    		font-weight: 400;
    	}
    }

}
/*Form Styles*/
.modal-header {
	background-color: #e13700;
	color: #fff;
	button {
		background-color: #e13700;
		color: #fff;
	}
}
.modal-body {
	input {
		margin-top: 40px;
	}
	textarea {
		margin-top: 40px;
	}
	#name {
		margin-top: 30px;
	}
	p {
		font-size: 14px;
		span {
			font-weight: 400;
		}
	}
	button {
		background-color: #337ca0;
	    color: #fff;
	    border: none;
	    padding: 10px 15px 10px 15px;
	    margin-bottom: 10px;
	}
}
/*Sign-Up Styles*/
#signUp {

}
/*Create Event Styles*/
#create-event {

}
/*Sign In Styles*/
#signIn {

}
/*Tooltip styles*/
.tooltip-inner {
	max-width: 300px !important;
	list-style-type: none;
	background-color: #fff;
	color:#3ec300;
	#password-errors {
		list-style-type: none;
		display: flex;
		padding:0;
		margin-bottom: -1px;
	}
}
/*hide the labels*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*footer styles*/
#footer {
	margin: 0 auto;
    text-align: center;
    background-color: #E13700;
    color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
    	color:#fff;
    }
}