@import "variables";	
	/*Global Headers*/
	h1 {
		font-size: 34px;
		font-family: $lato;
	}
	h2 {
		font-size: 28px;
		font-family: $lato;
	}
	h3 {
		font-size: 24px;
		font-family: $lato;
		font-weight: 100;
	}
	h4 {
		font-size: 22px;
		font-family: $lato;
	}
	h5 {
		font-size: 20px;
		font-family: $lato;
	}
	h6 {
		font-size: 18px;
		font-family: $lato;
	}
	p {
		font-size: 16px;
		font-family: $lato;
		font-weight: 300;
	}
.pac-container {
    z-index: 1051 !important;
}